<h2>Por Region</h2>
<hr>

<div class="roow">
  <div class="col">
    <!-- Search box -->
    <!-- <shared-search-box
      (onDebounce)="searchByRegion($event)"
      placeholder="Buscar por capital"></shared-search-box> -->
      <button *ngFor="let region of regions"
        class="btn mx-2"
        [ngClass]="{'btn-outline-primary': selectedRegion === region}"
        (click)="searchByRegion(region)">
        {{ region }}
      </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!-- a traves del input declarado en el componente podemos mandar el objeto,
    countries ya esta en el contexto (swl componente)-->
    <country-table [countries]="countries"></country-table>
  </div>
</div>
